<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Of Life | Available actions</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>All available actions</h1>
<table>
    <tr>
        <th>Action Id</th>
        <th>Action Name</th>
        <th>Life Choice?</th>
    </tr>
    <tr th:each="action: ${actions}">
        <td th:text="${action.actionId}">Action Id</td>
        <td th:text="${action.actionName}">Action Name</td>
        <td th:text="${action.actionIsLifeChoice}">Life Choice</td>
    </tr>
</table>
</body>
</html>