<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Of Life | Initiated Games</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:if="${initiatedGame}">
    <h1 th:utext="${initiatedGame.numPlayers} + ' player game has been initiated by ' + ${initiatingPlayer}"></h1>
</div>
<table>
    <th:block th:each="game: ${games}">
        <tr>
            <th>Actions</th>
            <th>Game Id</th>
            <th>Number of Players</th>
        </tr>
        <form class="joined_players" name="joined_players" th:action="@{/game-of-life/join}" th:method="POST">
            <td>
                <div th:unless="${game.players.size() == game.numPlayers}"><input class="btn" type="submit" value="Join"></div>
            </td>
            <td th:text="${game.gameId}">Game Id</td>
            <input type="hidden" th:value="${game.gameId}" th:name="gameId">
            <td th:text="${game.numPlayers}">Number of Players</td>
            <input type="hidden" th:value="${game.numPlayers}" th:name="numPlayers">
            <input type="hidden" th:value="${joiningPlayer}" th:name="playerName">
        </form>
        <tr>
            <th>Player Details</th>
            <th>Player Name</th>
            <th>Cell Position</th>
        </tr>
        <tr th:each="player: ${game.players}">
            <td></td>
            <td th:text="${player.playerName}"> Player [n] Name</td>
            <td th:text="${player.cellPosition}"> Player [n] Cell Position</td>
        </tr>
    </th:block>
</table>
</body>
</html>