<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Of Life | Player's traversed cells</title>
</head>
<body>
<h1>Player's turn - Traversed cell details</h1>
<table>
    <tr>
        <td>Cell Id</td>
        <td>Cell Action Id</td>
        <td>Cell Description</td>
    </tr>
    <tr th:each="cell: ${traversedCells}">
        <td th:text="${cell.cellId}">Cell Id</td>
        <td th:text="${cell.cellActionId}">Cell Action Id</td>
        <td th:text="${cell.cellActionDesc}">Cell Action Description</td>
    </tr>
</table>
</body>
</html>